In [1]:
import pandas as pd

In [2]:
age = pd.read_csv('tower_age.csv')

In [9]:
age[age.Cluster==3].describe()

,Unnamed: 0,yearbuilt,assesstot,longitude,latitude,Cluster
count,497.000000,497.000000,4.970000e+02,495.000000,495.000000,497.0
mean,447476.424547,1975.430584,8.097056e+07,-73.971423,40.757290,3.0
std,288905.725836,9.783323,9.184806e+07,0.030974,0.031759,0.0
min,32.000000,1952.000000,0.000000e+00,-74.025002,40.594168,3.0
25%,164523.000000,1968.000000,2.918250e+07,-73.983695,40.749823,3.0
50%,599944.000000,1974.000000,4.980060e+07,-73.974100,40.759977,3.0
75%,730226.000000,1985.000000,9.498825e+07,-73.962779,40.770388,3.0
max,855445.000000,1992.000000,7.693335e+08,-73.714215,40.879994,3.0

In [12]:
zoning = pd.read_csv('tower_type.csv')

In [13]:
zoning[zoning.Cluster==0].describe() #residential building

,Unnamed: 0,bldgarea,officearea,retailarea,resarea,comarea,unitstotal,assesstot,longitude,latitude,Cluster
count,773.000000,7.730000e+02,718.000000,718.000000,7.180000e+02,718.000000,773.000000,7.730000e+02,769.000000,769.000000,773.0
mean,415423.155239,3.939231e+05,11180.665738,11942.360724,3.080272e+05,50014.770195,299.534282,4.189339e+07,-73.974982,40.752795,0.0
std,287873.177869,5.888040e+05,33728.217484,21276.784115,5.783225e+05,66703.246398,481.035609,3.513048e+07,0.027508,0.032180,0.0
min,157.000000,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000e+00,-74.025002,40.586320,0.0
25%,164105.000000,1.847120e+05,0.000000,0.000000,1.218348e+05,7165.500000,111.000000,1.768905e+07,-73.989396,40.743842,0.0
50%,269553.000000,3.116890e+05,0.000000,5515.500000,2.500865e+05,28927.000000,235.000000,3.311910e+07,-73.979713,40.756953,0.0
75%,689190.000000,4.719850e+05,2408.000000,13476.000000,3.959765e+05,66176.250000,394.000000,5.475735e+07,-73.961762,40.770435,0.0
max,855445.000000,1.354011e+07,233287.000000,187781.000000,1.321140e+07,504420.000000,10948.000000,2.538842e+08,-73.752273,40.879994,0.0

In [14]:
zoning[zoning.Cluster==1].describe() #commercial building

,Unnamed: 0,bldgarea,officearea,retailarea,resarea,comarea,unitstotal,assesstot,longitude,latitude,Cluster
count,93.000000,9.300000e+01,9.300000e+01,93.000000,93.000000,9.300000e+01,93.000000,9.300000e+01,92.000000,92.000000,93.0
mean,449555.903226,1.040809e+06,8.968141e+05,28443.666667,11445.397849,1.016232e+06,54.537634,1.578929e+08,-73.985787,40.742816,1.0
std,266412.869303,2.555636e+05,2.329794e+05,48807.206889,59936.539218,2.348648e+05,84.070307,1.012973e+08,0.016540,0.024783,0.0
min,33.000000,7.330010e+05,0.000000e+00,0.000000,0.000000,7.330010e+05,0.000000,0.000000e+00,-74.015837,40.693812,1.0
25%,199737.000000,8.620710e+05,7.675040e+05,5289.000000,0.000000,8.490240e+05,4.000000,9.553590e+07,-74.003850,40.714667,1.0
50%,599921.000000,1.015287e+06,9.055000e+05,20365.000000,0.000000,9.935700e+05,36.000000,1.235808e+08,-73.982863,40.753140,1.0
75%,674802.000000,1.133549e+06,1.049755e+06,30000.000000,0.000000,1.103075e+06,68.000000,1.950777e+08,-73.975487,40.756826,1.0
max,836646.000000,2.230742e+06,1.346382e+06,418593.000000,446382.000000,2.230742e+06,623.000000,7.030725e+08,-73.938606,40.844781,1.0

In [15]:
zoning[zoning.Cluster==2].describe() # taller commercial building

,Unnamed: 0,bldgarea,officearea,retailarea,resarea,comarea,unitstotal,assesstot,longitude,latitude,Cluster
count,155.000000,1.550000e+02,155.000000,1.550000e+02,1.550000e+02,1.550000e+02,155.000000,1.550000e+02,155.000000,155.000000,155.0
mean,434142.277419,5.380957e+05,418493.019355,4.571621e+04,3.911040e+04,4.921872e+05,87.393548,7.758107e+07,-73.981338,40.746507,2.0
std,278941.355586,3.203025e+05,149236.496322,1.417576e+05,2.379040e+05,1.638635e+05,192.313006,4.568945e+07,0.028306,0.024830,0.0
min,32.000000,2.510430e+05,0.000000,0.000000e+00,0.000000e+00,2.510430e+05,0.000000,1.470600e+07,-74.013878,40.690268,2.0
25%,200231.000000,3.765025e+05,320125.000000,8.000000e+03,0.000000e+00,3.690510e+05,20.000000,4.400865e+07,-73.989044,40.748354,2.0
50%,597179.000000,4.938600e+05,406966.000000,1.462600e+04,0.000000e+00,4.668200e+05,43.000000,6.432885e+07,-73.979442,40.754652,2.0
75%,685083.000000,6.153295e+05,534914.500000,2.585200e+04,0.000000e+00,5.835890e+05,79.000000,9.944393e+07,-73.973326,40.759750,2.0
max,853648.000000,3.750565e+06,677674.000000,1.176864e+06,2.690565e+06,1.204839e+06,1866.000000,2.874010e+08,-73.714215,40.852444,2.0

In [16]:
zoning[zoning.Cluster==3].describe() # office building

,Unnamed: 0,bldgarea,officearea,retailarea,resarea,comarea,unitstotal,assesstot,longitude,latitude,Cluster
count,46.000000,4.600000e+01,4.600000e+01,4.600000e+01,46.0,4.600000e+01,46.000000,4.600000e+01,46.000000,46.000000,46.0
mean,526845.913043,2.535595e+06,1.798798e+06,8.627370e+04,0.0,1.956587e+06,62.000000,3.738220e+08,-73.992586,40.742211,3.0
std,275495.739017,3.137923e+06,3.452952e+05,1.737622e+05,0.0,4.320741e+05,127.587356,2.129268e+08,0.015575,0.022364,0.0
min,394.000000,1.482208e+06,1.395264e+06,0.000000e+00,0.0,1.482208e+06,0.000000,1.306616e+08,-74.015883,40.702153,3.0
25%,200548.500000,1.637669e+06,1.533360e+06,1.276525e+04,0.0,1.634158e+06,2.000000,2.268739e+08,-74.010172,40.714205,3.0
50%,624266.500000,1.830142e+06,1.711156e+06,4.499500e+04,0.0,1.816762e+06,25.000000,3.502917e+08,-73.986101,40.754078,3.0
75%,777898.750000,2.231319e+06,1.998655e+06,8.444800e+04,0.0,2.222292e+06,55.000000,4.293653e+08,-73.980153,40.759323,3.0
max,801313.000000,2.205181e+07,2.900000e+06,1.140044e+06,0.0,3.221237e+06,603.000000,1.310983e+09,-73.967467,40.763608,3.0

In [17]:
general = pd.read_csv('tower_general.csv')

In [18]:
general[general.Cluster==0].describe()

,Unnamed: 0,block,schooldist,council,zipcode,landuse,lotarea,bldgarea,numfloors,unitstotal,assesstot,yearbuilt,longitude,latitude,Cluster
count,761.000000,761.000000,759.000000,759.000000,759.000000,759.000000,7.610000e+02,7.610000e+02,761.000000,761.000000,7.610000e+02,761.000000,757.000000,757.000000,761.0
mean,425710.706965,1060.670171,2.305665,3.869565,10039.490119,4.313570,4.695118e+04,4.662729e+05,33.272011,214.567674,5.769863e+07,1975.478318,-73.978444,40.755825,0.0
std,284747.818807,613.090740,1.152653,2.085282,69.026186,0.898085,2.221217e+05,6.240618e+05,5.203389,474.879676,5.834032e+07,77.082798,0.022385,0.028241,0.0
min,32.000000,5.000000,1.000000,1.000000,10001.000000,3.000000,0.000000e+00,0.000000e+00,26.000000,0.000000,0.000000e+00,0.000000,-74.018060,40.702266,0.0
25%,164605.000000,831.000000,2.000000,3.000000,10016.000000,4.000000,1.208300e+04,2.038370e+05,29.000000,35.000000,2.294730e+07,1965.000000,-73.989948,40.746991,0.0
50%,272735.000000,1151.000000,2.000000,4.000000,10021.000000,4.000000,2.274200e+04,3.450480e+05,33.000000,134.000000,4.003083e+07,1981.000000,-73.979640,40.757185,0.0
75%,682070.000000,1338.000000,2.000000,5.000000,10032.500000,5.000000,3.784300e+04,5.551250e+05,37.000000,277.000000,7.077420e+07,2002.000000,-73.968628,40.769953,0.0
max,855445.000000,5722.000000,12.000000,17.000000,10475.000000,8.000000,5.048550e+06,1.354011e+07,44.000000,10948.000000,5.063112e+08,2020.000000,-73.821948,40.879994,0.0

In [19]:
general[general.Cluster==1].describe()

,Unnamed: 0,block,schooldist,council,zipcode,landuse,lotarea,bldgarea,numfloors,unitstotal,assesstot,yearbuilt,longitude,latitude,Cluster
count,61.000000,61.000000,61.000000,61.000000,61.000000,61.000000,61.000000,6.100000e+01,61.000000,61.000000,6.100000e+01,61.000000,61.000000,61.000000,61.0
mean,438067.065574,1488.606557,14.114754,34.163934,11213.704918,3.852459,43774.836066,3.953015e+05,35.762295,323.393443,3.045068e+07,1999.229508,-73.979321,40.694889,1.0
std,289217.535622,1608.377135,1.924390,2.524416,15.495531,0.833388,41214.083970,2.418167e+05,8.971997,185.053621,2.454018e+07,29.178413,0.014010,0.026176,0.0
min,6413.000000,45.000000,13.000000,33.000000,11201.000000,2.000000,1960.000000,4.445000e+03,26.000000,1.000000,1.251600e+05,1908.000000,-74.025002,40.586320,1.0
25%,162887.000000,161.000000,13.000000,33.000000,11201.000000,3.000000,15534.000000,2.563030e+05,30.000000,236.000000,1.192680e+07,1997.000000,-73.987056,40.688417,1.0
50%,341393.000000,1128.000000,13.000000,33.000000,11204.000000,4.000000,31389.000000,3.585510e+05,33.000000,321.000000,2.556090e+07,2012.000000,-73.982186,40.693237,1.0
75%,691730.000000,2340.000000,14.000000,35.000000,11222.000000,4.000000,52705.000000,4.505030e+05,40.000000,424.000000,3.633603e+07,2018.000000,-73.966607,40.702002,1.0
max,848858.000000,7459.000000,22.000000,48.000000,11249.000000,8.000000,199435.000000,1.420558e+06,72.000000,755.000000,1.221224e+08,2020.000000,-73.953563,40.737241,1.0

In [20]:
general[general.Cluster==2].describe()

,Unnamed: 0,block,schooldist,council,zipcode,landuse,lotarea,bldgarea,numfloors,unitstotal,assesstot,yearbuilt,longitude,latitude,Cluster
count,202.000000,202.000000,201.000000,201.000000,201.000000,201.000000,202.000000,2.020000e+02,202.000000,202.000000,2.020000e+02,202.000000,201.000000,201.000000,202.0
mean,402872.252475,902.163366,2.074627,3.273632,10033.681592,4.243781,43429.539604,9.682960e+05,55.002475,236.910891,1.424013e+08,1988.876238,-73.986196,40.749969,2.0
std,284407.136744,504.068431,0.478960,1.452498,56.283817,0.731624,66656.242525,1.726942e+06,11.163027,267.918589,1.706627e+08,27.967990,0.018668,0.022108,0.0
min,157.000000,4.000000,1.000000,1.000000,10001.000000,3.000000,1506.000000,1.736000e+03,44.000000,0.000000,0.000000e+00,1883.000000,-74.016401,40.702153,2.0
25%,164064.750000,714.750000,2.000000,3.000000,10016.000000,4.000000,13930.250000,3.595172e+05,47.000000,45.500000,4.245225e+07,1973.000000,-73.998892,40.747129,2.0
50%,267777.500000,1010.000000,2.000000,4.000000,10019.000000,4.000000,27061.500000,5.701745e+05,51.000000,164.000000,8.281982e+07,1996.000000,-73.984238,40.757230,2.0
75%,672072.250000,1269.000000,2.000000,4.000000,10036.000000,5.000000,57546.250000,1.102135e+06,59.000000,351.250000,1.763974e+08,2013.000000,-73.977756,40.761938,2.0
max,853929.000000,4250.000000,8.000000,13.000000,10461.000000,5.000000,833945.000000,2.205181e+07,104.000000,1706.000000,1.310983e+09,2020.000000,-73.830515,40.854672,2.0

In [21]:
general[general.Cluster==3].describe()

,Unnamed: 0,block,schooldist,council,zipcode,landuse,lotarea,bldgarea,numfloors,unitstotal,assesstot,yearbuilt,longitude,latitude,Cluster
count,43.000000,43.000000,43.000000,43.000000,43.000000,43.000000,4.300000e+01,4.300000e+01,43.000000,43.000000,4.300000e+01,43.000000,43.000000,43.000000,43.0
mean,520689.046512,1360.000000,29.348837,26.302326,11159.976744,3.720930,1.454063e+05,6.231884e+05,38.930233,514.906977,4.086732e+07,2002.813953,-73.920321,40.739467,3.0
std,272497.164314,3082.170285,1.445580,1.683744,136.734969,0.590624,6.389649e+05,5.742996e+05,11.308226,333.902168,3.765588e+07,21.868934,0.059226,0.025151,0.0
min,3680.000000,6.000000,24.000000,20.000000,11005.000000,2.000000,7.040000e+03,3.146000e+03,26.000000,1.000000,0.000000e+00,1929.000000,-73.961175,40.594168,3.0
25%,165054.500000,21.000000,30.000000,26.000000,11101.000000,3.000000,2.069550e+04,3.411865e+05,30.000000,315.500000,1.235902e+07,1999.500000,-73.956448,40.742217,3.0
50%,651624.000000,267.000000,30.000000,26.000000,11101.000000,4.000000,3.905300e+04,5.191820e+05,35.000000,469.000000,3.710790e+07,2013.000000,-73.941527,40.746629,3.0
75%,730091.000000,434.000000,30.000000,26.000000,11109.000000,4.000000,6.806850e+04,7.222100e+05,45.500000,662.000000,5.313038e+07,2016.000000,-73.936715,40.748242,3.0
max,803166.000000,15638.000000,30.000000,31.000000,11691.000000,5.000000,4.228300e+06,3.750565e+06,67.000000,1866.000000,1.665414e+08,2020.000000,-73.714215,40.756779,3.0

In [48]:
general[(general['latitude']< 40.69) & (general['latitude']> 40.68)]

,Unnamed: 0,block,schooldist,council,zipcode,bldgclass,landuse,lotarea,bldgarea,numfloors,unitstotal,assesstot,yearbuilt,longitude,latitude,Cluster
57,14538,165,15.0,33.0,11201.0,RM,4.0,18145.0,228246.0,26.0,318.0,28926450.0,2009.0,-73.984967,40.688956,1
60,16941,2095,13.0,35.0,11217.0,RZ,4.0,11110.0,122016.0,28.0,109.0,9978745.0,2006.0,-73.978635,40.688252,1
100,64602,1118,13.0,35.0,11217.0,D8,3.0,11362.0,333280.0,32.0,365.0,25560900.0,2013.0,-73.975497,40.681966,1
101,64637,1118,13.0,35.0,11217.0,D6,4.0,31906.0,790392.0,49.0,754.0,22882050.0,2019.0,-73.974174,40.682718,1
180,157415,2107,15.0,35.0,11217.0,RM,4.0,24697.0,450160.0,51.0,588.0,44975250.0,2015.0,-73.978874,40.687772,1
216,162768,2106,15.0,35.0,11217.0,RM,4.0,17926.0,256303.0,44.0,463.0,28399500.0,2012.0,-73.979613,40.687992,1
225,163097,161,15.0,33.0,11217.0,RM,4.0,13519.0,142004.0,27.0,371.0,18306764.0,2018.0,-73.981419,40.688417,1
450,203100,157,15.0,33.0,11201.0,D6,4.0,61925.0,706521.0,52.0,485.0,55005750.0,2018.0,-73.984963,40.689788,1
451,203106,161,15.0,33.0,11201.0,D6,4.0,15015.0,333461.0,43.0,329.0,21330000.0,2018.0,-73.981520,40.688788,1
538,341393,2007,13.0,35.0,11238.0,D4,3.0,84155.0,252500.0,31.0,300.0,9093600.0,1974.0,-73.970164,40.682931,1
754,671273,1128,13.0,35.0,11217.0,D6,4.0,19537.0,370789.0,26.0,317.0,9537300.0,2019.0,-73.973954,40.681705,1
768,675060,167,15.0,33.0,11217.0,D7,4.0,52705.0,662532.0,54.0,755.0,61673850.0,2014.0,-73.980644,40.687221,1
774,679541,2010,13.0,35.0,11238.0,D6,4.0,10621.0,240382.0,29.0,265.0,5937030.0,2020.0,-73.967378,40.682134,1
801,691654,2094,13.0,35.0,11201.0,D7,4.0,13626.0,335187.0,35.0,370.0,32044050.0,2011.0,-73.979977,40.689691,1
860,736101,2111,15.0,35.0,11217.0,RM,4.0,20263.0,273186.0,41.0,197.0,24047686.0,1929.0,-73.977724,40.685510,1

In [ ]:
40.68818274305467, -73.98089748465733

In [23]:
pluto = pd.read_csv('pluto.csv')

C:\Users\jesse\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (18,19,20,22,23,24,26,63,64,76,79,86) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [25]:
pluto.head()

,borough,block,lot,cd,ct2010,cb2010,schooldist,council,zipcode,firecomp,...,appbbl,appdate,plutomapid,firm07_flag,pfirm15_flag,version,dcpedited,latitude,longitude,notes
0,SI,1701,96,501.0,303.02,4004.0,31.0,49.0,10303.0,E166,...,5.017010e+09,01/02/1992,1,NaN,NaN,21v1,NaN,40.624031,-74.155358,NaN
1,MN,16,7502,101.0,317.04,2000.0,2.0,1.0,10280.0,E010,...,1.000162e+09,08/25/1988,1,1.0,1.0,21v1,NaN,40.710107,-74.017570,NaN
2,MN,348,46,103.0,14.02,2001.0,1.0,1.0,10002.0,L018,...,NaN,NaN,1,NaN,NaN,21v1,NaN,40.718566,-73.984816,NaN
3,MN,2241,25,112.0,295.00,4002.0,6.0,10.0,10034.0,E095,...,NaN,NaN,1,NaN,NaN,21v1,NaN,40.867690,-73.922277,NaN
4,BK,3234,13,304.0,423.00,3001.0,32.0,37.0,11221.0,E218,...,NaN,NaN,1,NaN,NaN,21v1,NaN,40.698885,-73.925434,NaN

In [26]:
pluto.columns

Index(['borough', 'block', 'lot', 'cd', 'ct2010', 'cb2010', 'schooldist',
       'council', 'zipcode', 'firecomp', 'policeprct', 'healthcenterdistrict',
       'healtharea', 'sanitboro', 'sanitdistrict', 'sanitsub', 'address',
       'zonedist1', 'zonedist2', 'zonedist3', 'zonedist4', 'overlay1',
       'overlay2', 'spdist1', 'spdist2', 'spdist3', 'ltdheight', 'splitzone',
       'bldgclass', 'landuse', 'easements', 'ownertype', 'ownername',
       'lotarea', 'bldgarea', 'comarea', 'resarea', 'officearea', 'retailarea',
       'garagearea', 'strgearea', 'factryarea', 'otherarea', 'areasource',
       'numbldgs', 'numfloors', 'unitsres', 'unitstotal', 'lotfront',
       'lotdepth', 'bldgfront', 'bldgdepth', 'ext', 'proxcode', 'irrlotcode',
       'lottype', 'bsmtcode', 'assessland', 'assesstot', 'exempttot',
       'yearbuilt', 'yearalter1', 'yearalter2', 'histdist', 'landmark',
       'builtfar', 'residfar', 'commfar', 'facilfar', 'borocode', 'bbl',
       'condono', 'tract2010', 'xcoord', 'ycoord', 'zonemap', 'zmcode',
       'sanborn', 'taxmap', 'edesignum', 'appbbl', 'appdate', 'plutomapid',
       'firm07_flag', 'pfirm15_flag', 'version', 'dcpedited', 'latitude',
       'longitude', 'notes'],
      dtype='object')

In [39]:
x = pluto.iloc[788243,:] # 788243 39 millions, 451 units, 58 floors

In [44]:
x.values

array(['QN', 422, 7, 402.0, 19.0, 1029.0, 30.0, 26.0, 11101.0, 'E258',
       108.0, 41.0, 720.0, 4.0, 2.0, '2A', '42-12 28 STREET', 'M1-6/R10',
       nan, nan, nan, nan, nan, 'LIC', nan, nan, nan, 'N', 'D6', 4.0, 0.0,
       nan, '4212 28ST DE LLC', 17500.0, 475485.0, 5878.0, 477270.0, 0.0,
       5878.0, 0.0, 0.0, 0.0, 0.0, 2.0, 1.0, 58.0, 450.0, 451.0, 125.0,
       200.0, 125.0, 200.0, nan, 2.0, 'Y', 4.0, 2.0, 2250000.0,
       39807900.0, 38925897.0, 2015.0, 0.0, 0.0, nan, nan, 27.17, 10.0,
       10.0, 10.0, 4, 4004220007.0, nan, 19.0, 1000954.0, 212379.0, '9b',
       nan, '401 024', 40302.0, 'E-104', 4004220007.0, '05/02/2013', 1,
       nan, nan, '21v1', nan, 40.749592, -73.939713, nan], dtype=object)

In [50]:
pluto.iloc[16941,:].values

array(['BK', 2095, 7502, 302.0, 33.0, 2002.0, 13.0, 35.0, 11217.0, 'E226',
       88.0, 36.0, 1200.0, 3.0, 2.0, '4C', '230 ASHLAND PLACE', 'C6-4',
       nan, nan, nan, nan, nan, 'DB', nan, nan, nan, 'N', 'RZ', 4.0, 0.0,
       nan, 'UNAVAILABLE OWNER', 11110.0, 122016.0, 3833.0, 118183.0, 0.0,
       0.0, 0.0, 0.0, 0.0, 3833.0, 2.0, 1.0, 28.0, 108.0, 109.0, 150.5,
       148.37, 150.0, 100.0, nan, 0.0, 'Y', 0.0, 5.0, 899982.0, 9978745.0,
       3694587.0, 2006.0, 0.0, 0.0, nan, nan, 10.98, 10.0, 10.0, 10.0, 3,
       3020957502.0, 1989.0, 33.0, 990175.0, 190026.0, '16c', nan,
       '302 026', 30706.0, nan, 3020950053.0, '04/15/2009', 1, nan, nan,
       '21v1', nan, 40.68825220000001, -73.9786355, nan], dtype=object)

In [112]:
tower = pd.read_csv('pluto.csv')

C:\Users\jesse\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (18,19,20,22,23,24,26,63,64,76,79,86) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [113]:
tower_general = tower[['block','schooldist','council','zipcode','bldgclass','landuse','lotarea','bldgarea','numfloors','unitstotal','assesstot','yearbuilt','longitude','latitude']]

In [116]:
from kmeans_function import * 
tower = kmeans_tower(tower_general,6,'assesstot')

C:\Users\jesse\Downloads\lighthouse-data-notes\Week_5\mid-term\kmeans_function.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Cluster'] = cluster

In [117]:
tower_general.groupby('Cluster').count()

,block,schooldist,council,zipcode,bldgclass,landuse,lotarea,bldgarea,numfloors,unitstotal,assesstot,yearbuilt,longitude,latitude
Cluster,,,,,,,,,,,,,,
0,39905,39900,39905,39898,39905,39905,39905,39905,39905,39905,39905,39905,39903,39903
1,118686,118686,118686,118683,118653,118403,118653,118653,118653,118653,118653,118653,118686,118686
2,123317,122978,123022,122970,123160,122675,123054,123152,123054,123160,123160,123160,123008,123008
3,296217,296217,296217,296217,296217,296068,296217,296217,296217,296217,296217,296217,296216,296216
4,41780,40623,41263,40615,41326,40018,41005,41323,41005,41323,41323,41323,41181,41181
5,238869,238856,238869,238858,238869,238681,238869,238869,238869,238869,238869,238869,238869,238869

In [85]:
tower = tower.loc[:, tower.isin([0,' ','NULL']).mean() < .6]

In [129]:
tower = tower.dropna()

In [130]:
tower_general.shape

(858774, 15)

In [131]:
import pandas as pd
from sklearn.model_selection import train_test_split

# Read the data
data = tower_general

# Separate target from predictors
y = data.assesstot
X = data.drop(['assesstot'], axis=1)

# Divide data into training and validation subsets
X_train_full, X_valid_full, y_train, y_valid = train_test_split(X, y, train_size=0.8, test_size=0.2,
                                                                random_state=0)

# "Cardinality" means the number of unique values in a column
# Select categorical columns with relatively low cardinality (convenient but arbitrary)
categorical_cols = [cname for cname in X_train_full.columns if X_train_full[cname].nunique() < 10 and 
                        X_train_full[cname].dtype == "object"]

# Select numerical columns
numerical_cols = [cname for cname in X_train_full.columns if X_train_full[cname].dtype in ['int64', 'float64']]

# Keep selected columns only
my_cols = categorical_cols + numerical_cols
X_train = X_train_full[my_cols].copy()
X_valid = X_valid_full[my_cols].copy()

In [132]:
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder,StandardScaler

# Preprocessing for numerical data
numerical_transformer = Pipeline(steps=[('imputer',SimpleImputer(strategy='constant')),
                                       ('scaler', StandardScaler())
                                      ])

# Preprocessing for categorical data
categorical_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='most_frequent')),
    ('onehot', OneHotEncoder(handle_unknown='ignore'))
])

# Bundle preprocessing for numerical and categorical data
preprocessor = ColumnTransformer(
    transformers=[
        ('num', numerical_transformer, numerical_cols),
        ('cat', categorical_transformer, categorical_cols)
    ])

In [133]:
# import the class
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.svm import SVR
from sklearn.naive_bayes import GaussianNB
# instantiate the model (using the default parameters)
logreg = LinearRegression()

In [134]:
from sklearn.metrics import mean_absolute_error, r2_score, f1_score

# Bundle preprocessing and modeling code in a pipeline
my_pipeline = Pipeline(steps=[('preprocessor', preprocessor),
                              ('model', logreg)
                             ])

# Preprocessing of training data, fit model 
my_pipeline.fit(X_train, y_train)

# Preprocessing of validation data, get predictions
preds = my_pipeline.predict(X_valid)

# Evaluate the model
score = mean_absolute_error(y_valid, preds)
print('MAE:', score)
print(r2_score(y_valid, preds))
#print(f1_score(y_valid, preds))

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').