In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('nta_counts_all.csv')

In [4]:
df.groupby('cluster').mean()

,Unnamed: 0,ADMINISTRATION OF GOVERNMENT,CORE INFRASTRUCTURE AND TRANSPORTATION,"EDUCATION, CHILD WELFARE, AND YOUTH",HEALTH AND HUMAN SERVICES,LIBRARIES AND CULTURAL PROGRAMS,"PARKS, GARDENS, AND HISTORICAL SITES","PUBLIC SAFETY, EMERGENCY SERVICES, AND ADMINISTRATION OF JUSTICE",Student Enrollment,Average Score (SAT Math),Average Score (SAT Reading),Average Score (SAT Writing),TREES,DOGS,RESTAURANTS,COMMUNITY GARDENS,Common Venue
cluster,,,,,,,,,,,,,,,,,
0,72.961538,16.788462,19.538462,95.923077,45.769231,12.019231,20.980769,3.115385,859.407780,425.167820,415.777769,411.271733,3315.883721,745.837209,242.176471,6.441176,1.844444
1,102.545455,23.818182,79.818182,99.636364,64.272727,71.090909,73.454545,4.636364,584.017361,452.899306,443.060764,440.055556,2345.625000,2132.500000,1113.833333,2.000000,2.400000
2,106.867769,11.247934,7.752066,39.991736,14.223140,3.363636,8.867769,1.239669,1186.921505,451.593162,439.147711,433.378556,3384.365385,419.673077,98.060606,1.909091,1.752475
3,96.545455,45.545455,36.818182,145.000000,100.272727,21.818182,40.636364,7.454545,704.627548,450.605372,439.854683,430.556818,3819.090909,823.909091,290.333333,14.000000,2.000000

In [5]:
df.groupby('cluster').count()

,Unnamed: 0,nta,ADMINISTRATION OF GOVERNMENT,CORE INFRASTRUCTURE AND TRANSPORTATION,"EDUCATION, CHILD WELFARE, AND YOUTH",HEALTH AND HUMAN SERVICES,LIBRARIES AND CULTURAL PROGRAMS,"PARKS, GARDENS, AND HISTORICAL SITES","PUBLIC SAFETY, EMERGENCY SERVICES, AND ADMINISTRATION OF JUSTICE",geometry,Student Enrollment,Average Score (SAT Math),Average Score (SAT Reading),Average Score (SAT Writing),TREES,DOGS,RESTAURANTS,COMMUNITY GARDENS,Common Venue
cluster,,,,,,,,,,,,,,,,,,,
0,52,52,52,52,52,52,52,52,52,52,43,43,43,43,43,43,34,34,45
1,11,11,11,11,11,11,11,11,11,11,8,8,8,8,8,8,6,6,10
2,121,121,121,121,121,121,121,121,121,121,52,52,52,52,52,52,33,33,101
3,11,11,11,11,11,11,11,11,11,11,11,11,11,11,11,11,9,9,10